

<form class="main-content" id="form" action="/payment" >
    <div class="search-container" id="search-container"></div>
    <div id="property-id"></div>

<body class="main-bg">
    <div class="bookingform">
        <div class="bookingform-text">
            <h1 class="blue">Reserve Now</h1>
        </div>
        <div class="s5050">
            
            <div>
                <h2>John Doe</h2>
                <h3 id="price"></h3>
                <div class="form-group">
                    <span>How many people ?</span>
                    <select name="people" id="people" required>
                        <option value="1">1 Person</option>
                        <option value="2">2 People</option>
                        <option value="3">3 People</option>
                        <option value="4">4 People</option>
                        <option value="5">5 People</option>
                        <option value="6">6 People</option>
                        <option value="7">7 People</option>
                        <option value="8">8 People</option>
                        <option value="9">9 People</option>
                        <option value="10">10 People</option>
                    </select>
                </div>
                <input type="hidden" name="price" id="inputPrice">
                <div class="form-group">
                    <span>Check-in</span>
                    <input type="date" name="startdate" id="startdate" placeholder="date" required>
                </div>
                <div class="form-group">
                    <span>Check-out</Check-in></span>
                    <input type="date" name="enddate" id="enddate" placeholder="date" required>
                </div>
                <div class="form-group">
      
                    <input type="submit" class="btn btn-wide btn-primary "id="submitbookBtn"></button>
   
                </div>
                
            </div>
        </div>
</form>
    







