<h1 class="user-greeting grad">Welcome, John Doe! Let's search for your dream rental...</h2>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner first">
      <div class="carousel-item active" style="background-image: url('images/rental05.jpeg');" data-bs-interval="10000">
      </div>
      <div class="carousel-item second"  style="background-image: url('images/02rentalhome.webp');"  data-bs-interval="2000">
      </div>
      <div class="carousel-item third"  style="background-image: url('images/rental03.jpeg');"  data-bs-interval="2000">
      </div>
      <div class="carousel-item fourth"  style="background-image: url('images/rental04.jpeg');"  data-bs-interval="2000">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

</div>
<form class="main-content" id="form">
    
 

    <div class="search-container" id="search-container"></div>
</form>
<body class="landingbody">
<section>
<div id="output"></div>
</section>
</body>

<script src="main.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    