
    <div class="container-login">
        <div class="row">
            <div class="centerBox">
                <h2 class="homedisplay animate__animated animate__zoomIn"> Welcome to Renterful</hz>
              <h2></h2>
            <form class="main-content" id="form">
                <h3 >The world's premier hub for rentals!<h3>
              
             
                <div class="credentials-container" id="credentials-container"></div>
            </form>
        </div>
        </div>

    </div>
   
    



            