<h2>payment</h2>
<form class="main-content" id="form">
    <div class="search-container" id="search-container"></div>
    <h2>Final Payment</h2>
    <p id="finalPrice"></p>
    <div class="container">

       
    
            <div class="row">
                
    
                <div class="col">
                    <h3 class="title">payment</h3>
                    <div class="inputBox">
                        <span>cards accepted :</span>
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="inputBox">
                        <span>name on card :</span>
                        <input type="text" placeholder="mr. john deo" id="nameOnCard">
                    </div>
                    <div class="inputBox">
                        <span>credit card number :</span>
                        <input type="number" placeholder="1111-2222-3333-4444" id="creditCardNumber">
                    </div>
                    <div class="inputBox">
                        <span>exp month :</span>
                        <input type="text" placeholder="january" id="expDate">
                    </div>
    
                    <div class="flex">
                        <div class="inputBox">
                            <span>exp year :</span>
                            <input type="number" placeholder="2026" id="expYear">
                        </div>
                        <div class="inputBox">
                            <span>CVV :</span>
                            <input type="text" placeholder="1234" id="cvv">
                        </div>
                    </div>
    
                </div>
            </div>
            <div id="divTotal"></div>
            <input type="button" value="payNow" class="submit-btn">
    
        </form>
    
