* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
}

* {
    box-sizing: border-box;
  }

body{
    background-color: #FAF9F9;
}

a{
    color: black;
    text-decoration: none;

}

body,
html {
    font-family: sans-serif;
    height: 100%;
}

footer {
    background-color: #BEE3DB;
    color: white;
    text-align: center;
    padding: 24px 0;
}


header {
    background-color: #BEE3DB;
    padding: 20px 0;
}

.main-content {
    flex: 1;
    padding: 20px 0;
}
.y-wrap {
    margin: 0 auto;
    width: 90%;
}
    
.y-sticky {
display: flex;
flex-direction: column;
height: 100%
}

.credentials-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 180px;
}


.credentials-container input{
    margin: 14px 0;
    padding: 6px 12px;
    width: 100px;
}


.credentials-container input[type="sumbit"]{
    cursor:pointer;
}

.regcredentials-container{
    display: flex;
   



}

.regcredentials-container input {
    margin: 14px 0;
    padding: 6px 12px;
    width: 100px;
}

.credentials-container input[type="sumbit"] {
    cursor:pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 20px 15px;
}


.navs{
    display: flex;
    justify-content: flex-end;
}

.navs a {
    margin: 0 0 0 24px;
    
}

.navs a.active {
   color: #555b6e;
}
fieldset{
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.landingbody{
    background-color: white;
     box-sizing: border-box;
     height: 100%;
     padding: 0;
     margin: 0;
}

#output{
    padding: 0px 20px;
    
}

.box{
    max-width: 100%;
    border-radius: 10px;
}

.box img{
    max-width: 100%;
    border-radius: 10px;
   
}

#output p {
    margin-bottom: 0px;
}

#output .btn{
    float: right;
}

h4{
    font-size: 1.3rem;
    margin-top: 10px;
}



#output{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#output > div{
    width: 23%;
    padding: 20px 0px;
}

#output .boxImg{

    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-position: center;
}


#social{
    height: 25px;
    max-height: 25px;
    width: auto;
   }


   .main_bg{
    background-image: url(background.jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.bookingform-text {
    text-align: center;
    margin: 0 0 40px 0;
}

.bookingform-text h1 span img{
    margin: 0 10px;
}

.bookingform-text h1{
    color: green;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;

}

.bookingform-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.bookmain-form{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}

.bookmain-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: black;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.bookmain-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: black;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: orange;
    font-size: 25px;
}

#submitbookBtn{
    width: 100%;
    text-align: center;
}
#submitbookBtn input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: red,
    color green;
    transition: all .3s;
}
#submitbookBtn input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black 

}
#submitbookBtn input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: red;
}



.s5050{
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.s5050 > div{
    width: 48%;
}
        

